<!-- Sponsors -->
<section id="sponsors">
	<div class="inner">
		<header class="minor">
			<h3>The Northshore Philharmonic Orchestra proudly recognizes past and present sponsors:</h3>	
		</header>
		<section>
			<div class="box alt">
				<div class="row 50% uniform">
					{% for sponsor in site.data.sponsors %}
						<div class="4u">
							<a href="{{ sponsor.url }}">
								<span class="image fit rounded">
									<img src="{% link assets/images/sponsors/{{sponsor.img}} %}" alt="">
								</span>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
			
	</div>
</section>

<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">{{ site.email }}</a>
				</div>

				<div class="contact-method">
					<span class="icon alt fa-facebook"></span>
					<h3>Facebook</h3>
					<a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a>
					<a href="{{ site.facebook_url }}">{{ site.facebook_url }}</a>
				</div>
			</section>			
		</section>	
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
			<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>

		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js"}}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js"}}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js"}}"></script>
<script src="{{ "/assets/js/skel.min.js"}}"></script>
<script src="{{ "/assets/js/util.js"}}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js"}}"></script><![endif]-->
<script src="{{ "/assets/js/main.js"}}"></script>
