<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js"}}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/main.css"}}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css"}}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css"}}" /><![endif]-->
</head>
