///
/// Forty by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Sponsors */

#sponsors {
  h1,h2,h3,h4,h5 {
    text-align: center;
  }
  background-color: _palette(accent4);
  border-bottom: solid 1px _palette(border);
  overflow-x: hidden;

  .image {
    padding: 10px;
    background-color: white;
  }
  img {
    border-radius: 10px;
  }
}